body{
	font-family : Segoe UI;
	font-size: 14px;
	color: #808080;
}
#hero{
	background-image: url(../img/hero-home.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 130px 0;
}
#hero h1, 
.carousel-caption h1{
	color:#fff;
	font-size: 60px;
	font-weight: 300;
	margin-bottom:30px;
}

#hero h1 span,
.carousel-caption h1{
	display: block;
	
}

#hero h3,
.carousel-caption h3{
	color:#fff;
	font-size:20px;
	margin-bottom: 30px;
}

.btn-hero{
	padding: 10px 35px;
	text-transform:uppercase;
	font-size:12px;
	border-radius:0;
	border:0;
}

.btn-hero:hover{
	background-color:#000;
	color:#fff;
	
}

header{
	background-color:#000;
}

#we-are-oshine{
	text-align: center;
}
#we-are-oshine h6{
	color:#000;
	margin-top: 100px;	
}

#we-are-oshine h2{
	color:#000;
	margin-top:20px;
	margin-bottom: 30px;
	font-weight: 300;
}

#we-are-oshine p{
	color:#292929;
	font-size: 18px;
}

.title{
	color:#000;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin:30px;	
}

.section{
	padding: 80px 0;
}


.btn-green{
	background-color:#59C5A4;
	padding: 16px, 37px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 0;
}

.btn-green:hover{
	background-color: #fff;
	color:#000;
	boder: 1px solid #000;
}

#quality{
	background-color: #f4f4f4
}

.subtitle{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 40px;
	font-weight:600;
	text-align: center;
}

#quality h3{
	font-size: 14px;
	text-aling: center;
	text-transform: uppercase;
	color: #404040;
	
}

#quality p{
	font-size: 16px;
}

.icon{
	width:60px;
	height:60px;
	line-height:60px;
	background-color: #28D1A2;
	color: #fff;
	border: 1px solid #21AF87;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
}


.carousel-caption{
   top:40%;
		
}

.work-info{
	position: relative;
	overflow: hidden;
}

.layer-text{
	position: absolute;
	top:0;
	left:0;
	background-color:#28d1a2;
	width: 100%;
	height: 100%;
	color:#fff;
	text-align: center;
	opacity: 0;
	transition: all 0.5s ease-in;
}

.work-info:hover  .layer-text{
	opacity: 1;
	transition: all 0.5s ease-in;
}

.overlay{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	background-color:rgba(0,0,0,0.80);
	z-index: 100;
}

.cintillo{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color:#28d1a2;
	color:#fff;
	text-align: center;
	z-index: 200;
	opacity: 0;
}

.cintillo h5{
	margin:0;
}

.work-info:hover .cintillo{
	opacity: 1;
	transition: ease-in;
}

.layer-icon{
	position: absolute;
	top: 0;
	right: 10px;
	color:#fff;
}

.bg-black{
	background-color: #333;
}

.layer-square{
	position: absolute;
	width:100%;
	height: 100%;
	padding: 10px;
	top:0;
}

.layer-square .bg-text{
	background-color:#28d1a2;
	width: 100%;
	height:100%;
	opacity: 0;
	transition: all 0.5s ease-in;
}

.layer-square:hover .layer-text{
	background-color:transparent;
	align-items: center;
	justify-content: center;
	display: flex;
}

.layer-square:hover .bg-text{
	opacity: 1;
	transition: all 0.5s ease-in;
}

#hero-page{
	
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding: 10% 0;	
	text-align: center;
}

.bg-contact{
	background-image: url(../img/hero-contact.jpeg);
}

.hero-page h3{
	font-size: 14px;
	font-style: italic;
	}

.hero-page h1{
	font-size: 60px;
	font-weight: 400;
	}

.hero-page p{
	font-size: 20px;
	}


#content{
	padding: 7%;
}


#map-view{
	width: 100%;
	height: 300px;
}


footer{
	background-color: #ebebeb;
	padding: 5% 0;
}

footer h4{
	color: #222;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
